h1,h2,h3,h4,h5,h6,p,ul{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
html {
	font-family: 'PingFang SC', 'SF UI Text', 'Hiragino Sans GB', 'Microsoft Yahei', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
ol,ul {
	list-style: none;
}

h1{

}

h2{
	font-size: 30px;
}

h3{
	font-size: 24px;
}

p{
	font-size: 18px;
	letter-spacing: 1px
}

.clearfix{
	overflow:auto;
  width:100%;
}
.main-wrapper{
	background: #444 url(../img/banner.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.main-wrapper > header{
	background: rgba(0,0,0,0.18);
}
nav{
	width: 100%;
  height: 50px;
  background: transparent;

}
nav ul{
  margin: 0;
  float: right;
}
nav ul li, nav .logo{
  display: inline-block;
  height: 50px;
  margin-right: 20px;
}

nav a{
  line-height: 50px;
  text-decoration: none;
  display: inline-block;;
  height: 50px;
  color: #fff;
}

nav .logo{
  float: left;
  padding-left: 20px;
}

nav .logo{
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
}
#banner{
	height: 700px;
  padding-top: 160px;
  padding-bottom: 80px;
	color: white;
}

#banner .inner{
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}
#banner .inner h2{
  margin 0;
}

#banner .inner .more a{
	text-decoration: none;
	color: #fff;
}
button{
  border:none;
  background: #33cc33;
  color:#eee;
  padding: 10px 8px;
  border-radius: 4px;
}

#banner .inner .more{
  margin-top: 300px;
}
#banner .actions li{
		margin: 15px;

}
#banner .actions .button{
	text-decoration: none;
	color: #fff;
}

.sub_heading{
  line-height: 30px;
  margin: 30px;
}


#one {
	background-color: #2ec2a5;
	color: #fff;
}
#one .inner{
  max-width: 1080px;
  margin: 0 auto;
	padding: 100px 0;
	text-align: center;
}
#one .inner p{
	font-size: 14px;
}
.hr{
	width: 100%;
	height: 2px;
	margin: 0 auto;
}

#one .inner .hr{
	height: 1px;
	width: 180px;
	background-color: grey;
	margin: 4px auto;
}
#one .icons{
	margin-top: 20px;
}
#one ul li{
	display: inline-block;
	margin: 20px;
	width: 80px;
	height: 80px;
	text-align: center;
	background: #0ea285;
	transform: rotate(45deg);
}
#two{
	background: #252f34;
	color: #fff;
}
.item:nth-child(odd){
	background-color: rgba(255, 255, 255, 0.05);
}

.item > div{
	float: left;
}

.item .image{
	width: 45%;
}
.item .content{
	width: 50%;
}

.index02 .image{
	float: right;
	font-size: 0;
}


.item img{
	width: 100%;
}


.item:after{
	content: '';
	clear: both;
	display: block;
}

.item .content{
	position: relative;
  top: 40px;
  left: 5%;
}
.item .content > * {
     max-width: 80%;
}


.item .content h2{
	margin-top: 40px;
}
.item .content h4{
	margin-top: 30px;
}

.item .content p{
	font-size: 16px;
	margin-top: 15px;
	word-wrap:break-word;
	letter-spacing: 1px;
}

#three .inner{
	background-color: #3F3965;
	color: #fff;
	padding: 80px;
}

#three header{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#three header p{
	margin-top: 30px;
}

.card-group{
	margin-top: 60px;
}
.card{
	float: left;
	width: 50%;
	text-align: center;
	min-height: 300px;
	padding: 50px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	/*border: 1px solid #fff;*/
}
.card h3{
	margin: 15px;
}

.card:first-child{
	background: rgba(0,0,0,0.04);
}
.card:nth-child(2){
	background: rgba(0,0,0,0.08);
}

.card:nth-child(3){
	background: rgba(0,0,0,0.12);
}

.card:nth-child(4){
	background: rgba(0,0,0,0.16);
}

.card:nth-child(5){
	background: rgba(0,0,0,0.22);
}

.card:nth-child(6){
	background: rgba(0,0,0,0.26);
}

.footer{
	background-color: #332f2b;
	color: #fff;
	padding: 80px;
}

.footer .inner{
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.footer .inner h3{
	margin: 20px;
}

.footer .inner ul > li{
	display: inline-block;
	margin: 10px;
}
